/*FOR EXPLORE-PAGE*/

.explore-sections {
    background-color: #178ca460;
    box-shadow: 0rem 0.25rem 0.25rem #00000040;
    display: flex;
    margin: 8rem;
    position: relative;
    left: 8.5rem;
  }

.txt-explore {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2.5rem;
    max-width: 50%;
    font-weight: 100;
    position: relative;
    left: -4.5rem; 
  }

.teachers-txt {
    position: relative;
    left: 4.5rem;
  }


.for-teachers {
    background-color: #178ca4;
    flex-direction: row-reverse;
    position: relative;
    left: -7.5rem;
  }

.img-teachers,
.img-researchers {
    padding: 3.5rem;
}

.img-kids {
    padding: 5.5rem;

}

/*MEDIA Q*/
@media (max-width: 600px) {
    .footer  {
      grid-template-areas: 
    }
}


@media (min-width: 768px) {
    .container {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 100px minmax(150px, auto) 100px;
      grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    }
  }
  
  @media (min-width: 992px) {
    .container {
      grid-template-areas: 
        "header header header"
        "nav main aside"
        "nav footer footer";
    }
  }
  
  @media(max-width: 60rem){
    .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #f9f7f0;
    transition: all 0.2s ease-in-out;
    }
}
@media only screen and (min-width: 1140px) {

    .wrapper {
      width: 1026px;
      margin: 0 auto;
    }
  
    .title {
      font-size: 2em;
    }
  
    nav a {
      padding: 25px 1%;
    }
}