
.header-get-involved {
    background-color: #178ca4;
    color: #f9f7f0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-involved {
position: relative;
top: 4.5rem;
left: 1.5rem;
}

.involved-txt {
    background: #072a40;
    box-shadow: 0rem 0.25rem 0.25rem #00000040;
    font-size: 2rem;
    color: #f9f7f0;
    position: relative;
    padding: 2.25rem 7.5rem;
    bottom: 0.5rem;
    left: 38rem;
    max-width: 55%;
}

.header-get {
    position: relative;
    top: 9.5rem;
    left: 1.5rem;
    max-width: 42%;
}

.get-wrap {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: 3.5rem;
    
}
.get-box-3,
.get-box-1  {
    background-color: #178ca460;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5.5rem;
    box-shadow: 0rem 0.25rem 0.25rem #00000040;
}


.get-box-2 {
    background-color: #178ca4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5.5rem;
    box-shadow: 0rem 0.25rem 0.25rem #00000040;

}


.get-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 50%;
    color: #f9f7f0;
    margin-top: 5.5rem;
    }

  