
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    display:grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
 

}
header {
grid-area: header;
background-color: ;
}

main {
grid-area: main;
margin: 2rem;
}

footer {
grid-area: footer;


}


h1 {
    color: #f9f7f0;
    font-size: 6rem;
    font-weight: 250;
    font-style: italic;

}

a {
    text-decoration: none;
}

a:visited { 
    color:#f9f7f0; 
}
a:hover { 
    color:#f9f7f0; 
}
a:focus { 
    color:y#f9f7f0; 
}
a:hover, a:active { 
    color:#f9f7f0; 
}

img {
    object-fit: cover;
    border: #f9f7f0;
}



/*Nav-bar*/

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13rem;
    list-style: none;
    position: relative;
    padding: 40px 20px;
    background: #f9f7f0;
}

.logo{
    align-self: start;
}

.logo {width: 12rem;}
.menu {display: flex;}
.menu li {padding-left: 0.55rem}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #072a40;
    text-transform: uppercase;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #072a40;
    transition: 0.15s ease-in-out
}

.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu{
    position: absolute;
    color:#072a40;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.open-menu {
    top: 50%;
    right: 20px;
    translate: translateY(-50%)
}
.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}

@media(max-width: 708px){
    .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #f9f7f0;
    transition: all 0.2s ease-in-out;
    }
}

/*Main-page*/

.front-page {
    background-color: #072a40;
    color:#f9f7f0;
    padding: 6rem 5.5rem;
    border: 6.5rem solid #f9f7f0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}



.main-header-txt {
    font-size: 6rem;
}

.front-pg-txt {
    font-size: 2.3rem;
    text-transform: capitalize;
    font-weight: 100;
    align-self: center;
    margin: 1.5rem;
 
}




/*Navigation to pages*/


.nav-containers {
    letter-spacing: 0.3rem;
    font-weight: 250;
    font-size: 1.5rem;
    margin: 2rem;
    border: 5.5rem solid #f9f7f0;
    background-color: #072a40;
    padding: 4.5rem;
}



.img-exhibition {
    padding: 0.5rem 2.5rem;


}
.nav-exhibition-spaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    position: relative;
}

.exhibition-txt {
    position: relative;
    right: 8rem;
    bottom: 7rem;
}

.img-nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    padding: 3.5rem;
    overflow: hidden;
   

   
}
.explore-txt, 
.img-explore{
    display: grid;
    grid-area: 1 / 1 / 1 /1;

}


  .spaces-txt,
  .img-spaces{
   grid-area: 1 / 2 / 2 /3;
 
  }
  .get-txt,
  .img-get {
    grid-area: img-get;
    grid-area: 2/ 1/ 2/ 1;
    /*grid-column: 1;
    grid-row: 2;*/
  }

  .visit-txt,
  .img-visit {
    grid-area: img-vist;
    grid-area: 2/ 2 / 2/ 2;
    /*
    grid-column: 2;
    grid-row: 2;
    */
  }


.spaces-txt,
.explore-txt{
    position:relative;
    top: 12rem;
    left: 4rem;
    border: #072a40;
}

.visit-txt,
.get-txt {
    position: relative;
    top: 8.5rem;
    left: 3rem;
    border: #072a40;
}



  
/*About the museum-container*/

.about {
  font-weight: 100;
  border: 1.5rem solid #178ca480;
  background: #178ca450;
  text-transform: lowercase;
  text-transform: capitalize;
  letter-spacing: normal;
   
}

.header-about {
    font-size: 2.1rem;
    text-transform: uppercase;
    padding: 1.5rem;
    font-weight: 100;
}
.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}



.about-txt {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 0.5rem;
    align-items: center;
    flex-shrink: 5;
    font-size: 0.9rem;
 


}

.img-about {
    padding-left: 2.5rem;
 
}

.p-about-1 {
    padding-right: 1.5rem;
}
   
  







/*Events*/

.events {
    color: #f9f7f0;
    font-style: italic;
   background-color: #072a40;

}




.h-events {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-weight: 100;

}

.rectangels {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 40rem auto;
    grid-gap: 1.5rem;
    justify-items: center;
    justify-content: center;
    text-align: center;
    
}

.img-events {
    padding: 1.5rem;
}


 
.rectangle-3,
.rectangle-1 {
    background-color: #178ca460;
    
    
}

.rectangle-2 {
    background-color: #178ca4;
}

.rectangle-1,
.rectangle-2,
.rectangle-3 {
    padding: 1.5rem;
 
}


.line-1 {
    border-bottom: 0.01rem solid #f9f7f0;
    padding: 1.5rem;
}





/*Footer*/

.footer-1 {
    background: #072a40;
    /*padding-left: 8.5rem;*/
    color: #f9f7f0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
   
  }
.footer-img {
    padding-bottom: 5.5rem;
    padding-right: 5.5rem;
    
}
 
.footer-content-2 {
    display: flex;
    max-width: 18.75rem;
    margin: 1.25rem 0;
    gap: 1.5rem;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.subscribe-txt {
    text-transform: initial;
    padding-right: 2.5rem;
}
.update-txt {
    font-weight: 700;
}
  .footer-content-2 input {
    height: 2.5rem;
    border-radius: 0.37rem;
    background: none;
    outline: none;
    caret-color: #f9f7f0;
    color: #f9f7f0;
    padding-left: 1.6rem;
  }
  .footer-content-2 input::placeholder {
    color: #f9f7f0;
  }


   form button {
    background: #f9f7f0;
    outline: none;
    border: none;
    padding: 0.625rem 1.06rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-content-2 form button:hover {
    background: #f9f7f0;*/
  }
  .footer-content-2 .icons {
    margin-top: 0.53rem;
    gap: 0.53rem;
    cursor: pointer;
  }



.footer-content-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.icons {
    display: flex;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
}
.copyright {
    text-transform: initial;
    padding-left: 8.5rem;
    padding-top: 7.5rem;
    position: absolute;
  

}

/*Explore*/
.header-to-pages {
    background-color: #178ca4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
 

.img-explore-pg {
    position: relative;
    top: 5.5rem;
    right: 2.5rem;

}
.text-box {
    background: #072a40;
    text-transform: initial;
    box-shadow: 0rem 0.25rem 0.25rem #00000040;
    line-height: 2.5rem;
    color: #f9f7f0;
    max-width: 40%;
    position: relative;
    left: 25rem;
    padding: 2.25rem 7.5rem;
    bottom: 1.5rem;
}



.for-kids {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
   
}

.kids-txt {
    text-transform: initial;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 0.5rem;
    align-items: center;
    flex-shrink: 5;
    font-size: 0.9rem;
 
}




/*MEDIA Q*/
@media (max-width: 600px) {
    .footer  {
      grid-template-areas: 






}


@media (min-width: 768px) {
    .container {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 100px minmax(150px, auto) 100px;
      grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    }
  }
  
  @media (min-width: 992px) {
    .container {
      grid-template-areas: 
        "header header header"
        "nav main aside"
        "nav footer footer";
    }
  }
  
  @media(max-width: 60rem){
    .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #f9f7f0;
    transition: all 0.2s ease-in-out;
    }
}
@media only screen and (min-width: 1140px) {

    .wrapper {
      width: 1026px;
      margin: 0 auto;
    }
  
    .title {
      font-size: 2em;
    }
  
    nav a {
      padding: 25px 1%;
    }


    