* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish',sans-serif;
}
body {
    padding: 0;
    margin:0;   
}

h1{

}

h2 

ul li {
    list-style: none;
    text-decoration: none;
}

footer{
    background-color: #072A40;
}

#front-page {
    background-color: #072A40;
    font-style: ;
}



/* NAVBAR */

.Navigation-to-page {
    color: #072A40;
    align-content: center;
    
}

#front-page {
    background-color: #072A40;
}

.Navigation-img {
    background-color: #072A40;
}

#About {
    background-color: #178CA4;
}