*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish',sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    
}




h1 {
    color: #f9f7f0;
    width: 100%;
    font-size: 5rem;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    text-align: start;
}

p {
 color: #f9f7f0;
} 




/*Nav-bar*/

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #f9f7f0;
    padding: 12px 20px;

}

.logo img {width: 170px;}
.menu {display: flex;}
.menu li {padding-left: 30px}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #072a40;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #072a40;
    transition: 0.15s ease-in-out
}

.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu{
    position: absolute;
    color:#072a40;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.open-menu {
    top: 50%;
    right: 20px;
    translate: translateY(-50%)
}
.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}

@media(max-width: 708px){
    .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #f9f7f0;
    transition: all 0.2s ease-in-out;
    }
}

/*Main-page*/

#front-page {
    justify-content: center;
    background-color: #072a40;
    padding: 5rem 2.5rem;
}
#main-header-txt {
    position: relative;
    justify-content: space-evenly;
    text-align: left;
    padding-top: 1.5rem;
}

#front-pg-txt {
    position: relative;
    font-size: 2.30rem;
    font-style: italic;
    font-weight: 200;
    text-align: right;
    justify-content: space-between;
}

#front-img{
   
}

.exhibition-spe {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
}

.explore,
.exhibition-space,
.AI-glasses,
.visit {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap 8px;
    justify-content: center;
    align-items: center;

}

.main-container,.grid-container{
    position: relative;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 28px;
    font-style: italic;
    text-decoration: none;
    color: #f9f7f0;
}

.exhibitions {
    color: #072a40;
    position: absolute;
    bottom: 12px;
    right: 20px;
}
/*Footer*/

footer {
    color: #f9f7f0;
    background-color: #072a40;
}

.img-nav-menu {
    background-color: #072a40;

}





