
/*FOR VISIT-PAGE*/

.h1-visit {
    top: 7.5rem;
    position: relative;
}

.text-visit {
    left: 22.5rem;
}
.img-visit-h {
    left: -6.5rem;
    top: 7.5rem;
}
.map  {
    margin-top: 7rem;
}

.box {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border: 1rem solid #072a40;
    background: #178ca4;
    max-width: 30%;
    top: 69.5rem;
    left: 48.5rem;
    position: absolute;
    font-weight: 100;
}

#timetable {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.address {
    padding: 1.5rem;
}

.opening-hours {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    border: 0.01rem solid #f9f7f0;
    margin: 1.5rem;
    box-shadow: 1px 0px 0px 0px #E0E0E0 inset;
    font-weight: 100;
}

#days {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin:0.5rem;
}

#hours {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
}

.information {
    margin-top: 6.5rem;
}
.h-info {
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.5rem;
}

.info {
    text-transform: initial;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 1.5rem;
}