
/*FOR VISIT-PAGE*/
.header-to-pages {
    padding: 2.5rem;
}

.img-header {
    max-width: 33%;
}

.text-box {
    right: -2rem;
}
.map {
    margin-top: 3rem;
}

.img-map {
    transform: scale(0.9);
}

.box {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border: 1rem solid #072a40;
    background: #178ca4;
    max-width: 30%;
    top: 44.5rem;
    left: 51.5rem;
    position: absolute;
    font-weight: 100;
}



.address {
    padding: 1.5rem;
}

.opening-hours {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    border: 0.01rem solid #072a40;
    margin: 1.5rem;
    box-shadow: 1px 0px 0px 0px #E0E0E0 inset;
    font-weight: 100;
}

.days {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin:0.5rem;
}

.hours {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
}

.information {
    margin-top: 6.5rem;
}
.h3-info {
    text-transform: uppercase;
    font-style: normal;
}

@media (max-width:1250px){
    .box {
        transform: scale(0.9);
        top: 39rem;
        left: 45rem;
    }
 
}
@media (max-width: 1120px) {
    .box {
        transform: scale(0.8);
        top: 35rem;
        left: 39rem;
        max-width: 36%;
    }
}

@media (max-width: 992px) {
    .box {
        top: 26rem;
        left: 35rem;
        max-width: 36%;
        }
}

@media (max-width: 992px) {
    .box {
        transform: scale(0.6);
        top: 20rem;
        left: 24rem;
        max-width: 50%;
    }
}
@media (max-width: 601px) {
    .img-map {
        transform: scale(0.8);
    }
    .box {
        transform: scale(0.6);
        top: 30rem;
        left: 4rem;
        max-width: 74%;
    }
    .text-box {
        left: 1rem;
        top: 3.5rem;
    }
}